strings are arrays form so we use for loop access string characteristics

In [1]:
x= 'python'
for i in x:
    print(i)

p
y
t
h
o
n

STRING LENGHT

In [2]:
x='programming language'
print(len(x))

20

CHECKING INSIDE A STRING

In [3]:
# This is to check a sting contains a certain phrase by using keyword in e.g
# if the certainn phrase is present it returns True
x='Am very happy'
print('happy'in  x)

True

In [4]:
print('sad' in x)

False

still if statement can be used to do the same

In [5]:
x="Am very happy"
if "happy" in x:
    print("Yes,'happy' is present")

Yes,'happy' is present

STRING SLICING

this is where a string is divided using its index
remember in index in python starts with 0

In [6]:
x='python for beginners'
print(x[3:5])

ho

In [7]:
print(x[:5])

pytho

in the second example(slicing from the beginning ) above 5 is not included while in the third example 5 is included

In [8]:
print(x[5:])

n for beginners

in last example above 5 is not inclded but every thing 5 is considered this is called slicing to the end

MODIFYING STRINGS

Uppercase

by using upper() method makes string to be lowercase

In [9]:
x='from zero to hero'
print(x.upper())

FROM ZERO TO HERO

lowercase is self explanatory lower() method makes string to be lowercase

In [10]:
x='FROM ZERO TO HERO'
print(x.lower())

from zero to hero

REMOVE WHITESPACE

In [11]:
x='    moha'
print(x)

    moha

In [12]:
print(x.strip())

moha

in [22]: the output moha as a whitespace before it  while in [23] the whitespace has been removed by strip() method

REPLACING STRING

to replace a string with an other string or you replace a part of string use replace function

In [13]:
x='nahamed'
print(x.replace('n', 'M'))

Mahamed

SPLITING A STRING

use split() method to split a string this method splits the string if there exists a separator

In [14]:
x='moha_abdi'
print(x.split('_'))

['moha', 'abdi']

STRING CONCATENATION

this is combaning two strings by using + sign

In [15]:
x='moha'
y='abdi'
z=x+ " " +y
print(z)

moha abdi

FORMATING A STRING

formating helps to combine int data types and string data types by using f-string where f is placed infront of string anf curly brackets

In [16]:
year=2025
text=f'this year is {year}'
print(text)

this year is 2025

ESCAPE CHARACTERS

new line

In [17]:
x='moha\nabdi'
print(x)

moha
abdi

tab

In [18]:
x='moha\tAbdi'
print(x)

moha	Abdi

backspace

In [19]:
x='nai robi'
print(x)

nai robi

In [20]:
x='nai \brobi'
print(x)

nai robi

In [21]:
print(x.count(x))

1

STRING METHODS

Capitalize(); makes firts letter of the string to be capital and rest is lowercase

In [22]:
x='hallo World!'
print(x.capitalize())

Hallo world!

CASEFOLD(); makes string to be lowercase

In [23]:
x='Python For Beginners'
print(x.casefold())

python for beginners

CENTER(); alings string with specified character

center has a parameter lenght which a space default

In [24]:
x="Harrier"
print(x.center(50))

                     Harrier

In [25]:
x="Ford"
print(x.center(30,"-"))

-------------Ford-------------

ENDSWITH(); find if a string ends with a puncuation mark

In [26]:
x="Am happy today!"
print(x.endswith("!"))

True

In [27]:
x='yes, we won!'
print(x.endswith('.'))

False

FIND(); finds firts occurance of a specified value in a string

In [28]:
x='My name is Moha'
print(x.find("Moha"))

11

if the specfied character is not found find method returns -1

In [29]:
print(x.find("abdi"))

-1

BOOLEANS

Boleans represents True or False values

In [30]:
print(6==7)

False

In [31]:
print(4>2)

True

In [32]:
x=5
y=9
if x>y:
    print("x is greater than y")
else:
    print("x is less than y")

x is less than y

In [33]:
x=int(5)
y=bool(4)
print(x)
print(y)

5
True

PYTHON OPERATORS

1) ARITHMETIC OPERATORS

This operators are used to perform comman mathematical operators

ADDITION

In [34]:
a=6
b=3
print(a+b)

9

In [35]:
m=9
n=1
p=m+n
print(p)

10

SUBTRACTION

In [36]:
j=234
k=786
print(k-j)

552

In [37]:
m=453
n=765
print(m-n)

-312

MULTIPLICATION(*)

In [38]:
print(5*8)

40

DIVISION (/)

In [39]:
print(60/12)

5.0

FLOOR DIVISION(//); this rounds off the results to nearest whole number

In [40]:
print(21//5)

4

MODULUS(%); this the remainder when two numbers are divided

In [41]:
print(21%5)

1

EXPONENTIAL(**); it's rasing power to a number

In [42]:
print(3**2)

9

In [43]:
print(2**4)

16

PYTHON LIST

##### Lists are used to store multiple items in one variable
#### List is created using square bracket 
### Characteristics of a list 
#### List items are orded that is items have define order 
#### List is changeable that is we may add, remove or change items in list
#### List items can be duplicated since they have indexed

In [44]:
list=['cup', 'spoon', 'fork', 'knife']
print(list)

['cup', 'spoon', 'fork', 'knife']

List items can be of different data type

In [45]:
list=['C++', 34, 'R', True, 3.4, ]
print(list)

['C++', 34, 'R', True, 3.4]

List Lenght

This give number of items in a list

In [46]:
list=['MKU','KU','KCA','JKUAT']
print(len(list))

4

List TYPE

In [47]:
list=[1,2,3,4]
print(type(list))

<class 'list'>

ACCESSING AND NAVIGATING ITEMS IN A LIST

List items have index so thay can be acces using their indexes

In [48]:
list=['Jane','Moha','Tana','Faith','Fatma','Gold']
print(len(list)) # lenth of the list
print(list[3]) # accessing an item in alist 
print(list[:3]) # navigating items in alist
print(list[4:]) # navigating items in alist
print(list[2:6]) # navigating items in alist with range
print(list[-1]) # accessing items in reverse way
print(list[-3]) # accessing items in reverse way

6
Faith
['Jane', 'Moha', 'Tana']
['Fatma', 'Gold']
['Tana', 'Faith', 'Fatma', 'Gold']
Gold
Faith

Always remembers index starts with 0

In [49]:
# checking if an item is in the list
list=['Garissa','Lamu','Kisumu','Thika']
if 'Lamu' in list: 
    print("Yes, 'lamu' is in the list")

Yes, 'lamu' is in the list

CHANGING LIST ITEMS

In [50]:
list=['cows','Goats','sheep']
print(list)
# let us change 1st items(cows) with Camel
list[0]='Camel'
print(list)

['cows', 'Goats', 'sheep']
['Camel', 'Goats', 'sheep']

In [51]:
# changing range of items 
list=['NAIROBI','THIKA','NAKURU','MOMBASA']
print(list)
list[1:2]=['GARISSA','LAMU']
print(list)

['NAIROBI', 'THIKA', 'NAKURU', 'MOMBASA']
['NAIROBI', 'GARISSA', 'LAMU', 'NAKURU', 'MOMBASA']

INSERTING NEW ITEM IN A LIST

In [52]:
#insert method inserts an items in a specified index 
list=['banana', 'watermelon','mango']
list.insert(1,'avocado')
print(list)

['banana', 'avocado', 'watermelon', 'mango']

ADD LIST ITEMS

APPEND(); is used to add an item at the end of list

In [53]:
list=[1,2,3,4]
list.append(5)
print(list)

[1, 2, 3, 4, 5]

EXTENDING LIST

In [54]:
list1=['MOHA','MAINA','ADEN']
list2=['Gold','PAULO','CESS']
list2.extend(list1)
print(list2)

['Gold', 'PAULO', 'CESS', 'MOHA', 'MAINA', 'ADEN']

REMOVING ITEMS IN A LIST

In [55]:
# remove() method removes first occurents of the item
list=[1,2,4,3,4]
list.remove(4)
print(list)

[1, 2, 3, 4]

In [56]:
# removing specified item in the list use pop() method and specify index of the item to be removed
list=[1,2,3,4,4,5]
list.pop(4)
print(list)

[1, 2, 3, 4, 5]

CLEARING ITEMS IN A LIST

In [57]:
list=['CHEM','BIO','MATH']
list.clear()
print(list)

[]

DELETING ITEMS IN A LIST

In [58]:
list=[101,102]
del list

LOOPING IN A LIST

In [59]:
# this directly iterates each element in the list 
x=['jack','jonh','jery']
for i in x:
    print(i)

jack
jonh
jery

In [60]:
# this iterares range of objects 
list=['MOSJID','CHURCH','TEMPLE']
for i in range(len(list)):
    print(list[i])

MOSJID
CHURCH
TEMPLE

LIST COMPREHENSION

List comprehension is an easy way of creating a new list using an existing list

In [61]:
# the long-way
list = ['MAM', 'DAD', 'SIS', 'BRO', 'UNCLE', 'AUNT']
new_list = []
for i in list:
    if 'D' in i:
        new_list.append(i)
print(new_list)

['DAD']

In [62]:
# using list comprehension
list = ['MAM', 'DAD', 'SIS', 'BRO', 'UNCLE', 'AUNT']
new_list = [i for i in list if 'D' in i]
print(new_list)

['DAD']

PYTHON TUPLES

Like list tuples are used to multiple items in one variable 
               CHARACTERISTIC OF TUPLES
Tuples have order
tuples are unchangeable once are created they can not add or move an item from them
allow duplicates

To acces and navigate in tuple is same as list e.g

In [63]:
tuple=('head','nose','hand','ears','mouth','legs')
print(tuple)# printing tuple
print(len(tuple))
print(tuple[2])# accessing one item in the tuple
print(tuple[2:])# accessing item number 2 to last one 
print(tuple[:3])# accessing item upto third one but the third item is exculeded
print(tuple[2:6])# accessing range of items between second to sixth item

('head', 'nose', 'hand', 'ears', 'mouth', 'legs')
6
hand
('hand', 'ears', 'mouth', 'legs')
('head', 'nose', 'hand')
('hand', 'ears', 'mouth', 'legs')

UPDATING TUPLES

since tuples are unchangeable one can create tuple convert it to a list make changes on the list and convert list back to tuple